<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="metarobots"
   name="Read meta robots tag and perform various tasks"
   version="1.0.0"
   provider-name="saintybalboa.nutch.metarobots">

   <runtime>
      <library name="metarobots.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>


    <extension id="saintybalboa.nutch.metarobots.NhsMetaRobotsIndexer"
              name="Meta Robots Indexer"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="MetaRobotIndexer"
                      class="saintybalboa.nutch.metarobots.MetaRobotsIndexer"/>
   </extension>
   
</plugin>
